version: '3.9'
services:
  mysql:
    image: mysql:8.0
    container_name: pharmacy-mysql
    environment:
      MYSQL_ROOT_PASSWORD: 2237111@Kas
      MYSQL_USER: pharmacy
      MYSQL_PASSWORD: pharmacy123

    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
      - ./mysql-init:/docker-entrypoint-initdb.d

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - pharmacy-net

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

      # Listen on all interfaces inside the container
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092

      # VERY IMPORTANT: what Kafka tells clients to use
      # Your Spring apps on the host will connect to localhost:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092

      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
     
    ports:
      - "9092:9092"
    networks:
      - pharmacy-net
      

volumes:
  mysql-data:
networks:
  pharmacy-net:
    driver: bridge