spring:
  application:
    name: gateway-service

server:
    port: 8083

eureka:
    client:
        service-url:
            defaultZone: http://localhost:8761/eureka/
        
spring:
    cloud:
        gateway:
            discovery:
                locator:
                    enabled: true # optional: routes /AUTH-SERVICE/** to AUTH-SERVICE
            routes:
                - id: auth-service
                  uri: lb://auth-service
                  predicates:
                    - Path=/auth/**

                - id: drug-service
                  uri: lb://drug-service
                  predicates:
                    - Path=/drugs/**

                - id: order-service
                  uri: lb://order-service
                  predicates:
                     - Path=/orders/**

                - id: inventory-service
                  uri: lb://inventory-service
                  predicates:
                     - Path=/inventory/**