spring:
  datasource:
    url: jdbc:mysql://localhost:3306/pharmacy_inventory
    username: root
    password: 2237111@Kas
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  application:
    name: inventory-service
  kafka:
    bootstrap-servers: localhost:9092
  web:
    error:
      include-message: always
      include-binding-errors: always
      include-stacktrace: always
server:
  port: 9004
logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE