spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
            uri: https://github.com/Kasthoori/pharmacy-distribute-config-repo
            default-label: master
server:
    port: 8888

    